<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/juego1.css">
    <title>DEPORTES</title>
</head>
<body>
    <header>
        <a href="/ruleta"><button class="buttonn">Volver Inicio</button></a>
    </header>
    <center>
    <form action="">
        <!--Primera Pregunta-->
        <div class="form-group">
            <h1>DEPORTES</h1>
            <label> <b>¿CUÁLES SON LOS CINCO COLORES DEL ANILLO DE LOS JUEGOS OLÍMPICOS?</b> </label><br>

            <select class="form-control" id="grafo" name="grafo">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Azul, rojo, amarillo, verde y negro</option>
                <option value="2">Azul, rojo, amarillo, verde y violeta</option>
                <option value="3">índigo, rojo, morado, verde y negro</option>
                <option value="4">Azul, rojo, amarillo, naranja y verde</option>
                </select>   
        </div>


        <!--Segunda Pregunta-->
        <div class="form-group">
            <label><b>¿CUÁNTOS PUNTOS VALE UN TIRO LIBRE EN BALONCESTO?</b></label><br>

            <select class="form-control" id="second" name="second">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">2 punto</option>
                <option value="2">3 punto</option>
                <option value="3">1 punto</option>
                <option value="4">4 punto</option>
            </select>
        </div>

        <!--Tercera Pregunta-->

        <div class="form-group">
            <label><b>EL JUGADOR CON MÁS PUNTOS ANOTADOS EN LA HISTORIA DE LA NBA ES…</b></label><br>
            <select id="datebd" class="form-control"name="bd">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Kobe Bryant</option>
                <option value="2">Michael Jordan</option>
                <option value="3">LeBron James</option>
                <option value="4">Kareem Abdul-Jabbar</option>
            </select>
        </div>

        <!--Cuarta Pregunta-->
        <div class="form-group">
            <label><b>¿QUÉ ATLETA POSEE EL MAYOR NÚMERO DE MEDALLAS EN LA HISTORIA DE LOS JUEGOS OLÍMPICOS?</b></label><br>

            <select id="componentes" class="form-control">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Mariana Pajon</option>
                <option value="2">Usain Bolt</option>
                <option value="3">Michael Phelps</option>
                <option value="4">Michael Owens</option>
            </select>
        </div>

        <!--Quinta Pregunta-->

        <div class="form-group">
            <label><b>¿QUÉ TIPO DE COMPETICIÓN ES EL GIRO DE ITALIA?</b></label><br>

            <select id="bdnor" class="form-control" >
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Una competición de ciclismo</option>
                <option value="2">Una carrera automovilística</option>
                <option value="3">Una competencia de atletismo</option>
                <option value="4">Un torneo de golf</option>
            </select>
           
        </div>
    </form>
</center>
    <script src="js/juego1.js"></script>
</body>
</html>