<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/juego1.css">
    <title>CULTURA GENERAL</title>
</head>
<body>
    <header>
        <a href="/ruleta"><button class="buttonn">Volver</button></a>
    </header>
    <center>
    <form action="">
        <div class="form-group">
            <h1>CULTURA GENERAL</h1>
            <label> <b>¿QUIEN ESCRIBIO EL QUIJOTE?</b> </label><br>

            <select class="form-control" id="grafo" name="grafo">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Miguel Cervantes</option>
                <option value="2">Federico García Lorca</option>
                <option value="3">Ernest Hemingway</option>
                <option value="4">William Shakespeare</option>
                </select>   
        </div>

        <div class="form-group">
            <label><b>¿QUE LE FALTA A VAN GOGH?</b></label><br>

            <select class="form-control" id="second" name="second">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Ojo</option>
                <option value="2">Boca</option>
                <option value="3">Oreja</option>
                <option value="4">Nariz</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>¿QUIÉN INVENTO LA PRIMERA COMPUTADORA?</b></label><br>


            <select id="datebd" class="form-control"name="bd">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Nicola Tesla</option>
                <option value="2">Joseph Wilson Swan</option>
                <option value="3">Thomas Alvas Edison</option>
                <option value="4">John Atanasoff</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>¿CUÁNTOS DECIMALES TIENE EL NUMERO PI?</b></label><br>

            <select id="componentes" class="form-control">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Dos</option>
                <option value="2">Cien</option>
                <option value="3">Infinitos</option>
                <option value="4">Veinte</option>
                <option value="5">Cuatro</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>¿CUÁLES SON LOS NOMBRES DE LOS TRES REYES MAGOS?</b></label><br>

            <select id="bdnor" class="form-control" >
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Gaspar, Melchor y Baltazar</option>
                <option value="2">Simon, Judas y Mateo</option>
                <option value="3">Charles, George y Louis</option>
                <option value="4">Gaspar, Nicolas y Nataniel</option>
            </select>
           
        </div>
    </form>
</center>
    <script src="js/juego1.js"></script>
</body>
</html>