<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/juego1.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <title>GEOGRAFIA</title>
</head>
<body>
    <header>
        <a href="/ruleta"><button class="buttonn">Volver</button></a>
    </header>
    <center>
    <form action="">
        <div class="form-group">
            <h1>GEOGRAFIA</h1>
            <label> <b>¿QUÉ ES ZELANDIA?</b> </label><br>

            <select class="form-control" id="grafo" name="grafo">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Un continente</option>
                <option value="2">Un parque temático</option>
                <option value="3">Un país del hemisferio norte</option>
                <option value="4">Una ciudad islandesa</option>
                </select>   
        </div>

        <div class="form-group">
            <label><b>¿DÓNDE ESTÁ LA REGIÓN MÁS POBRE DEL MUNDO?</b></label><br>

            <select class="form-control" id="second" name="second">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">En Zimbabue</option>
                <option value="2">En Honduras</option>
                <option value="3">En Sahel</option>
                <option value="4">En Nepal</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>EL RÍO MÁS LARGO DE EUROPA ES...</b></label><br>


            <select id="datebd" class="form-control"name="bd">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">El Tajo</option>
                <option value="2">El Támesis</option>
                <option value="3">El Ebro</option>
                <option value="4">El Volga</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>¿DÓNDE ESTÁN LAS RUINAS DE ESPARTA?</b></label><br>

            <select id="componentes" class="form-control">
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">En Francia</option>
                <option value="2">En Italia</option>
                <option value="3">En Grecia</option>
                <option value="4">En Turquía</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>¿SABES CUÁL ES LA CIUDAD MÁS ANTIGUA DEL MUNDO?</b></label><br>

            <select id="bdnor" class="form-control" >
                <option value="0">Seleccione la respuesta correcta</option>
                <option value="1">Jericó</option>
                <option value="2">Biblos</option>
                <option value="3">Luxor</option>
                <option value="4">Ur</option>
            </select>
           
        </div>
    </form>
</center>
    <script src="js/juego1.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</body>
</html>