<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/ruleta.css">
    <title>Ruleta</title>
    <script src="js/Winwheel.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
</head>

<body>
    <center>
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="titulo">¡GIRA LA RULETA!</h1> <br>
                </div>
                <div class="col-md-3">
                    <canvas id="canvas" height="600px" width="600px"></canvas>
                </div>
                <input type="button" value="Girar" onclick="miRuleta.startAnimation();" class="button">
            </div>
        </div>
    </center>
    <script src="js/ruleta.js"></script>

</body>

</html>